
.content{
    max-width: 100%;
}
.top-header{
    margin-top: 40px;
}
.switch-rirght {
    margin-top: 60px;
    display: inline-block;
    background: blue;
    padding: 6px 8px;
    border-radius: 5px;
    color: #ddd;
}
.switch{
    
    padding-top: 15px;
    
}
.bg-light {
    background-color: #f8f9fa !important;
    padding: 0;
}
.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin-top: 16px;
}
